/* Helper Queries */


@media (min-width: 1281px) {
	

	
  }
  
  /* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
	
	
	
  }
  
  /* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
	

	
  }
  
  /* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */
  
 
  
  /* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
	
	.contact-header,.port-header, .about-header {
		font-family: 'Fugaz One', sans-serif;
		font-size: 2em;
		font-weight: 300;
		color: white;
		/* transform: rotate(0.75turn); */
		align-self: center;
	
		padding: 20px; 
		border-radius:10px;
	}

	
	
  }
  
  /* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
	
	.contact-header,.port-header, .about-header {
		font-family: 'Fugaz One', sans-serif;
		font-size: 2em !important;
		font-weight: 300;
		
		/* transform: rotate(0.75turn); */
		
		
		background-color: black;
		padding: 5px;
	}
	
	.contact--contact,.port--port, .about--about {
		padding: 10px !important;
	}


	.intro--holder {
		align-self: flex-end;
		padding: 10px !important;
		margin: 10px !important;
	}
	
	body{
		padding: 10px !important;
	}
	
  }



/* Typography */

html {
	font-family: 'Muli', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
	
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

body {
	padding: 20px;
	font-family: 'Muli'
}

.site-page {
	min-height: calc(100vh - 40px);
	padding: 20px;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-bottom: 20px;
}

.site-page--home {
	display: flex;
	height: 100%;
	justify-content: flex-start;
	background: #485564;
}

.site-page--about {
	background: #485564;
	padding: 20px;
	height: 100%;
}

.site-page--portfolio {
	background: #485564;
	padding: 20px;
	height: 100%;
}

.site-page--contact {
	background: #485564;
	padding: 20px;
	height: 100%;
}


.contact--contact,.port--port, .about--about {
	padding: 40px;
}

.port-main{
	margin-top: 20px;
}

.contact-main{
	font-size: 1.5em;
	font-weight: 400;
	color: white;
	line-height: 2;
	margin-top: 20px;
}

.highlight {
	color: #F57C00;
}

.contact-header,.port-header, .about-header {
	font-family: 'Fugaz One', sans-serif;
	font-size: 3em;
	font-weight: 400;
	color: white;

	background-color: black;
	padding: 5px;
	/* transform: rotate(0.75turn); */


}

 .port-prelude{
	font-size: 1.5em;
	font-weight: 400;
	color: white;
	line-height: 2;
	margin-top: 20px;
}

 .about-main {
	font-size: 1.5em;
	font-weight: 400;
	color: white;
	line-height: 2;
	margin-top: 20px;
	/* position: absolute;
	top: 25%;
	left: -3.5%; */
}

.contact-icons{
	margin-top: 50px;

	border-radius: 10px;
	text-align: center;
}

.intro--holder {
	align-self: flex-end;
	padding: 20px;
	margin: 20px;
}

.intro--holder>.intro {
	font-family: 'Fugaz One', sans-serif;
	font-size: 3em;
	font-weight: 600;
}

.intro--holder>.tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;
	;
	width: 2.65rem;
	height: 2.65rem;
}

.next-page-icon {
	margin-top: 50px;
}

.next-page-icon a {
	color: white;
}

.next-page-icon i {
	font-size: 3em;
}


.carousel-item {
   
    min-height: 50vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.card{
	background-color: #F5F5F5;
	color: #757575;
	border-radius: 5px;
}

.card-img-top{
border-radius: 5px;
}
.card .out{
	margin: 20px;
}